.box {
  width: 100%;
  height: auto;
  display: flex;
  font-family: Raleway;
  align-self: "center";
}

.avatar-container {
  width: 20%;
  text-align: center;
  padding-top: 3%;
}
.avatar {
  width: 100px;
  height: 100px;
  padding-top: 0;
  border: 0.1px solid rgb(175, 175, 175);
  border-radius: 50%;
}
.content-container {
  width: 73%;
  display: block;
  margin: auto;
  padding-left: 3%;
}
.fullname {
  margin: 0;
  font-size: 40px;
}
.list {
  margin-top: 2%;
  margin-bottom: 5%;
  padding-left: 3%;
  line-height: 180%;
}

.list-item {
  list-style: none;
}

.container-button {
  width: 7%;
  text-align: center;
  padding-top: 0;
}

.container-test {
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 1.3;
}

.container-input-tag {
  width: 20%;
  margin-top: 3%;
}

.tag {
  padding: 10px 7px;
  border-radius: 4px;
  margin-right: 1%;
  background: rgba(207, 207, 204, 0.795);
}